{% extends "base.html" %}

{% block title %}
	<title>Positions</title>
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 col-lg-10">
      <div class="card">
        <div class="card-header pb-0 p-3 d-flex justify-content-between">
          <h6 class="mb-0">Positions</h6>
          <a href="{% url 'task_manager:position-create' %}" class="btn btn-sm btn-primary">Add Position</a>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-end pe-4">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for position in object_list %}
              <tr>
                <td class="align-middle">
                  <a href="{% url 'task_manager:position-detail' position.pk %}" class="text-sm text-primary">{{ position.name }}</a>
                </td>
                <td class="text-end align-bottom pt-4 pe-4">
                  <div class="btn-group" role="group">
                    <a href="{% url 'task_manager:position-update' position.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmModal"
                      data-message="Are you sure you want to delete '{{ position.name }}'?"
                      data-action="{% url 'task_manager:position-delete' position.pk %}">
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% block pagination %}{% include "includes/pagination.html" %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
